.download-send-btn {
  padding: 1.2rem 2.4rem;
  border: none;
  background-color: rgb(165, 165, 165);

  transition: all 0.2s ease-in-out;
  will-change: background-color;

  text-transform: uppercase;

  &:hover {
    cursor: pointer;
    background-color: #ccc;
  }

  > i {
    font-size: 1.6rem;
  }
}
