html {
  // 62.5% <=> 10px
  font-size: 62.5%;
  line-height: 1.4;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-size: 1.6rem;
}

.title {
  font-size: 3rem;

  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 6rem;
    left: 0;
    width: 20rem;
    border-bottom: 1px solid black;
  }
}

.caption {
  margin: 1.5rem auto 0;
  padding: 1.6rem 0;

  font-size: 2.4rem;
}
