// display flex center
@mixin dflex($alignItems: center, $justifyContent: center) {
  display: flex;
  align-items: $alignItems;
  justify-content: $justifyContent;
}

// progress bar configuration
@mixin progress-bar {
  content: "";
  position: absolute;
  left: 0;
  height: 2.5rem;
  background-color: gray;
}

// Responsive
@mixin tablet_and_mobile {
  @media (max-width: $tablet-max-w) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $tablet-min-w) and (max-width: $tablet-max-w) {
    @content;
  }
}

@mixin mobile {
  @media (max-width: $mobile-width) {
    @content;
  }
}
