// progress bar performance
$progress-web: 85%;
$progress-pts: 80%;
$progress-uix: 70%;

// Set các giá trị với màn hình tương ứng
$tablet-max-w: 63.9375em; /* 1023px */
$tablet-min-w: 46.25em; /* 740px */
$mobile-width: 46.1875em; /* 739px */
